
/*ul{
    position: fixed;
    top:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{

    float: left;
    border-right: 1px solid 
#bbb;
}

li a{
   display: block;
   text-align: center; 
    padding: 14px 16px;
    color:white;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
    block-size: auto;
}
li:last-child{
    border-right: none;
}
*/